<div class="m-3">
  <div class="card border-primary mb-3 margin">
    <div class="card-header">Usuarios</div>
    <div class="card-body text-primary">
      <h5 class="card-title">Listado de Usuarios</h5>

      <div *ngIf="clientes?.length==0" class="alert alert-info">No hay registros en la base de datos</div>

      <p-table #dt [columns]="cols" [value]="clientes" [paginator]="true" [rows]="10" [resizableColumns]="true">
        <ng-template pTemplate="caption">
          <div style="text-align: right">
            <i class="pi pi-search btn btn-primary" style="margin:0 4px 0 0"></i>
            <input type="text" pInputText size="50" placeholder="Buscar Usuario"
                   (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
          </div>
        </ng-template>

        <ng-template pTemplate="header" let-columns>
          <tr>
            <th *ngFor="let col of columns" [pSortableColumn]="col.field" pResizableColumn>
              {{col.header}}
              <p-sortIcon [field]="col.field" ariaLabel="Activate to sort"
                          ariaLabelDesc="Activate to sort in descending order"
                          ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
          <tr>
            <td *ngFor="let col of columns">
              {{rowData[col.field]}}
            </td>
            <td>
              <button type="button" name="editar" [routerLink]="['registro',rowData['id']]"
                      class="btn btn-warning pi pi-user-edit"></button>

              <button type="button" name="eliminar" (click)="delete(rowData)"
                      class="btn btn-danger pi pi-user-minus ml-3"></button>
            </td>
          </tr>
        </ng-template>
      </p-table>

    </div>
  </div>
</div>








