<!--==========================
  Header
  ============================-->
<header id="header">

  <div id="topbar">
    <div class="container">
      <div class="social-links">
        <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
        <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
        <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
        <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
      </div>
    </div>
  </div>

  <div class="container">

    <div class="logo float-left">
      <!-- Uncomment below if you prefer to use an image logo -->
      <h1 class="text-light"><a href="#intro" class="scrollto"><span>Jubiledu</span></a></h1>
      <!-- <a href="#header" class="scrollto"><img src="img/logo.png" alt="" class="img-fluid"></a> -->
    </div>

    <nav class="main-nav float-right d-none d-lg-block">
      <ul>
        <li><a href="#intro">Home</a></li>
        <li><a href="#about">Nostros</a></li>
        <li><a href="#services">Servicios</a></li>
        <li><a routerLink="/clientes" routerLinkActive="true">Clientes</a></li>
        <li><a routerLink="/calculadora" routerLinkActive="true">Calculadora</a></li>
        <li><a href="#footer">Contactanos</a></li>
        <li><a routerLink="/login" routerLinkActive="true">Iniciar Sesion<span class="pi pi-sign-in"></span></a></li>
        <li><a routerLink="/registro" routerLinkActive="true">Registrate</a></li>
      </ul>
    </nav><!-- .main-nav -->

  </div>
</header><!-- #header -->
