<!--==========================
   Intro Section
 ============================-->
<section id="intro" class="clearfix">
  <div class="container d-flex h-100">
    <div class="row justify-content-center align-self-center">
      <div class="col-md-6 intro-info order-md-first order-last">
        <h2>JubilEDU<br>Buscamos generar conciencia<span> en el campo de las pensiones</span></h2>
        <div>
          <a href="#about" class="btn-get-started scrollto">Conoce mas!</a>
        </div>
      </div>

      <div class="col-md-6 intro-img order-md-last order-first">
        <img src="assets/img/intro-img.svg" alt="" class="img-fluid">
      </div>
    </div>

  </div>
</section><!-- #intro -->

<main id="main">

  <!--==========================
    About Us Section
  ============================-->
  <section id="about">

    <div class="container">
      <div class="row">

        <div class="col-lg-5 col-md-6">
          <div class="about-img">
            <img src="assets/img/about-img.jpg" alt="">
          </div>
        </div>

        <div class="col-lg-7 col-md-6">
          <div class="about-content">
            <h2>Acerca de nosostros</h2>
            <h3>Un ahorro bien elaborado es la clave del exito economico para ti y tu familia </h3>
            <p>Somos una empresa que busca educar a personas desde jovenes entre 17 años en aldelante, buscando lograr
              despertar un interes
              sobre lo importante que es mantenerse al tanto de los aportes de pensión.
            </p>

            <ul>
              <li><i class="ion-android-checkmark-circle"></i>Hemos participado con Universidades como UdeA, UdeN, y
                otras grandes universidades del país
              </li>
              <li><i class="ion-android-checkmark-circle"></i>Empresas como Porvenir, usaron nuestros servicios para
                mantener al tanto de sus usuarios lo importante de estar al día!
              </li>
              <li><i class="ion-android-checkmark-circle"></i>Apoyamos constantemente a MinTrabajo sobre como podemos
                gestionar mejor las tasas de aportes
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

  </section><!-- #about -->


  <!--==========================
    Services Section
  ============================-->
  <section id="services" class="section-bg">
    <div class="container">

      <header class="section-header">
        <h3>Servicios</h3>
        <p>Conoce Nuestras habilidades!</p>
      </header>

      <div class="row">

        <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-duration="1.4s">
          <div class="box">
            <div class="icon" style="background: #fceef3;"><i class="ion-ios-analytics-outline"
                                                              style="color: #ff689b;"></i></div>
            <h4 class="title"><a href="">Estadisticas</a></h4>
            <p class="description">Podemos decirte cuanto te falta para tu pensión, puedes ver con cuanto te irías a
              pensionar </p>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-duration="1.4s">
          <div class="box">
            <div class="icon" style="background: #fff0da;"><i class="ion-ios-bookmarks-outline"
                                                              style="color: #e98e06;"></i></div>
            <h4 class="title"><a href="">Educar</a></h4>
            <p class="description">Con asociacion a las Cajas de compensacion familiar, hemos podido crear cursos que
              pueden aportar mucho a tu vidaS</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
          <div class="box">
            <div class="icon" style="background: #e6fdfc;"><i class="ion-ios-paper-outline" style="color: #3fcdc7;"></i>
            </div>
            <h4 class="title"><a href="">Noticias</a></h4>
            <p class="description">En nuestro portal, podrás ver las ultimas noticias relacionadas con todo lo
              relacionado con cesantías, pensión, aportes y demas!</p>
          </div>
        </div>


      </div>

    </div>
  </section><!-- #services -->

  <!--==========================
    Why Us Section
  ============================-->
  <section id="why-us" class="wow fadeIn">
    <div class="container container-fluid">

      <header class="section-header">
        <h3>Por qué escogernos?</h3>
        <p>Conoce nuestra experiencia:</p>
      </header>

      <div class="row">

        <div class="col-lg-6">
          <div class="why-us-img">
            <img src="assets/img/why-us.jpg" alt="" class="img-fluid">
          </div>
        </div>

        <div class="col-lg-6">
          <div class="why-us-content">

            <div class="features wow bounceInUp clearfix">
              <i class="fa fa-diamond" style="color: #f058dc;"></i>
              <h4>Profesionalidad</h4>
              <p>Hemos capacitado a muchas empresas, personas y gobiernos sobre que deciciones tomar respecto
                al manjeo de pensiones
              </p>
            </div>

            <div class="features wow bounceInUp clearfix">
              <i class="fa fa-object-group" style="color: #ffb774;"></i>
              <h4>Didacticos</h4>
              <p>Buscamos salir de lo común, encontrando nuevas formas de llegar a ti</p>
            </div>

            <div class="features wow bounceInUp clearfix">
              <i class="fa fa-language" style="color: #589af1;"></i>
              <h4>Igualdad</h4>
              <p>Todos Tenemos derecho a tener el mismo trato, sin importar discapacidades, con profesionales hemos
                podido dar capacitacion a personas con discapacidad visual o auditiva</p>
            </div>

          </div>

        </div>

      </div>

    </div>

    <div class="container">
      <div class="row counters">

        <div class="col-lg-3 col-6 text-center">
          <span data-toggle="counter-up">274</span>
          <p>Clientes</p>
        </div>

        <div class="col-lg-3 col-6 text-center">
          <span data-toggle="counter-up">80</span>
          <p>Proyectos</p>
        </div>

        <div class="col-lg-3 col-6 text-center">
          <span data-toggle="counter-up">1,364</span>
          <p>Personas capacitadas en tiempo record!</p>
        </div>

        <div class="col-lg-3 col-6 text-center">
          <span data-toggle="counter-up">11.500</span>
          <p>Lectores de nuestro blog</p>
        </div>

      </div>

    </div>
  </section>

  <!-- ==========================
    Call To Action Section
  ============================-->
  <section id="call-to-action" class="wow fadeInUp">
    <div class="container">
      <div class="row">
        <div class="col-lg-9 text-center text-lg-left">
          <h3 class="cta-title">Noticias!</h3>
          <p class="cta-text">Mira aquí nuestra seccion de noticias</p>
        </div>
      </div>

    </div>
  </section><!-- #call-to-action -->

  <!--==========================
    Features Section
  ============================-->
  <section id="features">
    <div class="container">

      <div class="row feature-item">
        <div class="col-lg-6 wow fadeInUp">
          <img src="assets/img/features-1.svg" class="img-fluid" alt="">
        </div>
        <div class="col-lg-6 wow fadeInUp pt-5 pt-lg-0">
          <h4>Voluptatem dignissimos provident quasi corporis voluptates sit assumenda.</h4>
          <p>
            Ipsum in aspernatur ut possimus sint. Quia omnis est occaecati possimus ea. Quas molestiae perspiciatis
            occaecati qui rerum. Deleniti quod porro sed quisquam saepe. Numquam mollitia recusandae non ad at et a.
          </p>
          <p>
            Ad vitae recusandae odit possimus. Quaerat cum ipsum corrupti. Odit qui asperiores ea corporis deserunt
            veritatis quidem expedita perferendis. Qui rerum eligendi ex doloribus quia sit. Porro rerum eum eum.
          </p>
        </div>
      </div>

      <div class="row feature-item mt-5 pt-5">
        <div class="col-lg-6 wow fadeInUp order-1 order-lg-2">
          <img src="assets/img/features-2.svg" class="img-fluid" alt="">
        </div>

        <div class="col-lg-6 wow fadeInUp pt-4 pt-lg-0 order-2 order-lg-1">
          <h4>Neque saepe temporibus repellat ea ipsum et. Id vel et quia tempora facere reprehenderit.</h4>
          <p>
            Delectus alias ut incidunt delectus nam placeat in consequatur. Sed cupiditate quia ea quis. Voluptas nemo
            qui aut distinctio. Cumque fugit earum est quam officiis numquam. Ducimus corporis autem at blanditiis
            beatae incidunt sunt.
          </p>
          <p>
            Voluptas saepe natus quidem blanditiis. Non sunt impedit voluptas mollitia beatae. Qui esse molestias.
            Laudantium libero nisi vitae debitis. Dolorem cupiditate est perferendis iusto.
          </p>
          <p>
            Eum quia in. Magni quas ipsum a. Quis ex voluptatem inventore sint quia modi. Numquam est aut fuga mollitia
            exercitationem nam accusantium provident quia.
          </p>
        </div>

      </div>

    </div>
  </section><!-- #about -->


  <!--==========================
    Team Section
  ============================-->
  <!--  <section id="team" class="section-bg">
     <div class="container">
       <div class="section-header">
         <h3>Team</h3>
         <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque</p>
       </div>

       <div class="row">

         <div class="col-lg-3 col-md-6 wow fadeInUp">
           <div class="member">
             <img src="assets/img/team-1.jpg" class="img-fluid" alt="">
             <div class="member-info">
               <div class="member-info-content">
                 <h4>Walter White</h4>
                 <span>Chief Executive Officer</span>
                 <div class="social">
                   <a href=""><i class="fa fa-twitter"></i></a>
                   <a href=""><i class="fa fa-facebook"></i></a>
                   <a href=""><i class="fa fa-google-plus"></i></a>
                   <a href=""><i class="fa fa-linkedin"></i></a>
                 </div>
               </div>
             </div>
           </div>
         </div>

         <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
           <div class="member">
             <img src="assets/img/team-2.jpg" class="img-fluid" alt="">
             <div class="member-info">
               <div class="member-info-content">
                 <h4>Sarah Jhonson</h4>
                 <span>Product Manager</span>
                 <div class="social">
                   <a href=""><i class="fa fa-twitter"></i></a>
                   <a href=""><i class="fa fa-facebook"></i></a>
                   <a href=""><i class="fa fa-google-plus"></i></a>
                   <a href=""><i class="fa fa-linkedin"></i></a>
                 </div>
               </div>
             </div>
           </div>
         </div>

         <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
           <div class="member">
             <img src="assets/img/team-3.jpg" class="img-fluid" alt="">
             <div class="member-info">
               <div class="member-info-content">
                 <h4>William Anderson</h4>
                 <span>CTO</span>
                 <div class="social">
                   <a href=""><i class="fa fa-twitter"></i></a>
                   <a href=""><i class="fa fa-facebook"></i></a>
                   <a href=""><i class="fa fa-google-plus"></i></a>
                   <a href=""><i class="fa fa-linkedin"></i></a>
                 </div>
               </div>
             </div>
           </div>
         </div>

         <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
           <div class="member">
             <img src="assets/img/team-4.jpg" class="img-fluid" alt="">
             <div class="member-info">
               <div class="member-info-content">
                 <h4>Amanda Jepson</h4>
                 <span>Accountant</span>
                 <div class="social">
                   <a href=""><i class="fa fa-twitter"></i></a>
                   <a href=""><i class="fa fa-facebook"></i></a>
                   <a href=""><i class="fa fa-google-plus"></i></a>
                   <a href=""><i class="fa fa-linkedin"></i></a>
                 </div>
               </div>
             </div>
           </div>
         </div>

       </div>

     </div>
   </section>
 -->

</main>
<app-footer></app-footer>
